  .Box {
    height: 50px;
    width: 50px;
  box-align: bottom;
    float: left;
    position: relative;
  }
  
  .Floor {
    background-color: powderblue;
  }
  .Goal {
    background-color: green;
  }
  
  .Crate {
    background-color: brown;
  }
  
  .Player {
    background-color: black;
  }
  
  .Wall {
    background-color: gray;
  }

  

  .Goal  .Player{
    background-color: black;
}