body {
    background-color: gray;
}

#playground {
    background-color: darkcyan;
    width: 250px;
    height: 250px;
}

.box{
    background-color: blue;
    width: 48px;
    height: 48px;
    border: 1px solid black;
    float: left;
}

.player {
    background-color: green;
}

.moveplayerup{
position: relative;
margin-top: -10px;
}